// Place input
.search{
  @extend %j-f-e;
  // text-align: right;
  .pl-inp{
    height: 50px;
    width: 300px;
    background: $plinpbg;
    font-family: $sp-r;
    &::-webkit-input-placeholder {
      font-size: 17px;
      font-family: $sp-r;
    }
    &:-ms-input-placeholder {
      font-size: 17px;
      font-family: $sp-r;
    }
    &:-moz-placeholder {
      font-size: 17px;
      font-family: $sp-r;
    }
    &::-moz-placeholder {
      font-size: 17px;
      font-family: $sp-r;
    }
  }
}

// For tag input
input.tag-inp{
  font-size: 18px;
  padding: 25px 15px;
  &.sec{
    background: $bg-sc;
  }
}

// For tags
.tag-outer{
  min-height: 112px;
  background: $bg-sc;
  padding: 10px;
  border: 4px dashed $dz-bdr;
  border-radius: 6px;
  color: $sub-title;
  .no-tags-plh{
    text-align: center;
    padding: 10px 0;
    .inner{
      color: $sc;
      display: flex;
      flex-direction: column;
      span{
        line-height: 1.53;
        font-size: 17px;
        margin-top: 5px;
      }
    }
  }
}

ul.tag-ctn{
  padding: 5px;
  font-size: 15px;
  padding-left: 0;
  border-radius: 2px;
  margin-bottom: 0;
  li{
    cursor: pointer;
    display: inline-block;    
    padding: 0 10px;
    background: $bg-pr;
    color: $w;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;  
    height: 38px;
    &.optional{
      background: rgba($bg-pr, .7);
      img{
        opacity: .7;
      }
    }
    div{
      @extend %j-s-b;
      height: 100%;
    }
    img{
      height: 32px;
      &.del-tag{
        margin-left: 10px;
        height: 7px;
        width: 7px;
      }
    }
    span{
      margin-left: 10px;
    }
  }
  &.sug li{
    // font-weight: bold;
    color: $b;
    background: $bg-sc;
    border: 1px solid $bdr-sc;
    &.optional{
      background: rgba($bg-sc, .7);
      img{
        opacity: .7;
      }
    }
  }
}

// Styles with autosuggest
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 51px;
  width: 100%;
  border: 1px solid rgba($b, .15);
  background-color: $w;
  box-shadow: 0 6px 12px rgba($b, .175);
  font-weight: 300;
  font-size: 14px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.ctn-lbl{
  .lbl-auto-cpl {
    display: inline-block;
  }
  .react-autosuggest__container--open {
    .react-autosuggest__suggestions-container {
      min-width: 150px;
      top: 35px;
    }
  }
  .react-autosuggest__suggestion {  
    padding: 5px 10px;
  }
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background: $acc;
  color: $w;
}

.highlight {
  color: $b;  
  font-weight: bold;
}

.react-autosuggest__suggestion--highlighted {
  .highlight {
    color: $w;
  }
}

// Animation Dots
.ctn-anim{
  @extend %j-c;  
  .dot{
    position: relative;
    margin: 0 10px;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: $bg-pr;
    @include prefixed(animation, upDown .5s ease-in-out);
    @include prefixed(animation-direction, alternate);
    @include prefixed(animation-iteration-count, infinite);
    
    &:nth-of-type(2){
      @include prefixed(animation-delay, .1s);
      background: fade-out($bg-pr, .5);
    }
    &:nth-of-type(3){
      @include prefixed(animation-delay, .2s);
      background: fade-out($bg-pr, .7);
    }
    &:nth-of-type(4){
      @include prefixed(animation-delay, .3s);
      background: fade-out($bg-pr, .9);
    }
  }
}

@include keyframes(upDown){
  0% {
    top: 0px;
  }
  100% {
    top: 20px;
  }
}

//  For the slider
// .rc-slider {
//   pointer-events: none;
//   .rc-slider-handle {
//     pointer-events: auto;
//   }
// }

.slider-outer{
  position: relative;
  width: 100%;
  .slider-rail{
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background-color: $sl-bg;
    cursor: pointer;    
  }
  .slider-handle{
    position: absolute;
    margin-left: -10px;
    margin-top: -8px;
    width: 20px;
    height: 20px;
    border: none;
    text-align: center;
    cursor: grab;
    border-radius: 50%;
    background-color: $bg-pr;
    z-index: 1;
  }
  .slider-track{    
    position: absolute;
    height: 4px;
    z-index: 0;
    cursor: pointer;    
  }
  .slider-separator{    
    position: absolute;
    height: 25px;
    width: 6px;
    background: #fef937;
    border-radius: 10px;
    left: 50%;
    z-index: 0;
    transform: translate(-55%, -43%);
  }
}

.sl-title, .tags-title{ // For both slider and tags title
  font-family: $sp-r;
  font-size: 18px;
  color: $sc;
  margin-bottom: 15px;
}

.sl-title{
  @extend %j-s-b;
  width: 100%;
}

.att-inp{
  font-weight: bold;
  width: 85px;
}

.btn-reset{
  float: right;
  position: relative;
  border: none;
  background: none;
  right: -40px;
  top: -20px;
}