// Place input
.search{
  @extend %j-f-e;
  .pl-inp{
    background: $plinpbg;
    font-family: $heebo-r;
  }
}

// For tag input
input.tag-inp{
  font-size: 18px;
  padding: 25px 15px;
}

ul.react-autocomplete-input > li.active{
  background: $acc;
}

ul.tag-ctn{
  padding: 5px;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 0;
  &.sug li{
    background: $tagbgsc;
  }
}

ul.tag-ctn li{
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  background: $tagbg;
  color: $w;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  div{
    @extend %j-s-b;
  }
  img{
    height: 35px;
    margin-right: 10px;
  }
  span{
    font-size: 15px;
    margin-left: 10px;
  }
}

// Styles with autosuggest
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  // display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 51px;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.15);
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  // font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion:not(:first-child) {
  // border-top: 1px solid #ddd;
}

.react-autosuggest__suggestion--focused {
  // background-color: #0C7EAF;
  // color: #fff;
}

.react-autosuggest__suggestion--highlighted {
  background: $acc;
  color: $w;
}

// Animation Dots
.ctn-anim{
  @extend %j-c;  
  .dot{
    position: relative;
    margin: 0 10px;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: $tagbg;
    @include prefixed(animation, upDown .5s ease-in-out);
    @include prefixed(animation-direction, alternate);
    @include prefixed(animation-iteration-count, infinite);
    
    &:nth-of-type(2){
      @include prefixed(animation-delay, .1s);
      background: fade-out($tagbg, .5);
    }
    &:nth-of-type(3){
      @include prefixed(animation-delay, .2s);
      background: fade-out($tagbg, .7);
    }
    &:nth-of-type(4){
      @include prefixed(animation-delay, .3s);
      background: fade-out($tagbg, .9);
    }
  }
}

@include keyframes(upDown){
  0% {
    top: 0px;
  }
  100% {
    top: 20px;
  }
}

//  For the slider
.sl-title{
  @extend %j-s-b;
  font-family: $mont-m;
  font-size: 18px;
  color: $sc;
  margin-bottom: 15px;
}

.btn-reset{
  float: right;
  position: relative;
  border: none;
  background: none;
  right: -40px;
  top: -20px;
}