// Place input
.search{
  @extend %j-f-e;
  // text-align: right;
  .pl-inp{
    height: 50px;
    width: 300px;
    background: $plinpbg;
    font-family: $heebo-r;
    // padding: 1.25rem 1rem;
    &::-webkit-input-placeholder {
      font-size: 11px;
      font-family: $mont-m;
      letter-spacing: 1.4px;
    }
    
    &:-ms-input-placeholder {
      font-size: 11px;
      font-family: $mont-m;
      letter-spacing: 1.4px;
    }
    
    &:-moz-placeholder {
      font-size: 11px;
      font-family: $mont-m;
      letter-spacing: 1.4px;
    }
    
    &::-moz-placeholder {
      font-size: 11px;
      font-family: $mont-m;
      letter-spacing: 1.4px;
    }
  }
}

// For tag input
input.tag-inp{
  font-size: 18px;
  padding: 25px 15px;
}

// ul.react-autocomplete-input > li.active{
//   background: $acc;
// }

// For tags
.tag-outer{
  background: $dz-bg;
  padding: 10px;
  border: 5px dashed $dz-bdr;
  border-radius: 10px;
  color: $chktime;
  .no-tags-plh{
    text-align: center;
    padding: 10px 0;
  }
}

ul.tag-ctn{
  padding: 5px;
  padding-left: 0;
  border-radius: 2px;
  margin-bottom: 0;
  // margin-bottom: 10px;
  &.sug li{
    background: $tagbgsc;
    &.optional{
      background: rgba($tagbgsc, .7);
      img{
        opacity: .7;
      }
    }
  }
}

ul.tag-ctn li{
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  background: $tagbg;
  color: $w;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;  
  &.optional{
    background: rgba($tagbg, .7);
    img{
      opacity: .7;
    }
  }
  div{
    @extend %j-s-b;
  }
  img{
    height: 35px;
    margin-right: 10px;
  }
  span{
    font-size: 15px;
    margin-left: 10px;
  }
}

// Styles with autosuggest
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 51px;
  width: 100%;
  border: 1px solid rgba($b, .15);
  background-color: $w;
  box-shadow: 0 6px 12px rgba($b, .175);
  font-weight: 300;
  font-size: 14px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background: $acc;
  color: $w;
}

.highlight {
  color: $b;  
  font-weight: bold;
}

.react-autosuggest__suggestion--highlighted {
  .highlight {
    color: $w;
  }
}

// Animation Dots
.ctn-anim{
  @extend %j-c;  
  .dot{
    position: relative;
    margin: 0 10px;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: $tagbg;
    @include prefixed(animation, upDown .5s ease-in-out);
    @include prefixed(animation-direction, alternate);
    @include prefixed(animation-iteration-count, infinite);
    
    &:nth-of-type(2){
      @include prefixed(animation-delay, .1s);
      background: fade-out($tagbg, .5);
    }
    &:nth-of-type(3){
      @include prefixed(animation-delay, .2s);
      background: fade-out($tagbg, .7);
    }
    &:nth-of-type(4){
      @include prefixed(animation-delay, .3s);
      background: fade-out($tagbg, .9);
    }
  }
}

@include keyframes(upDown){
  0% {
    top: 0px;
  }
  100% {
    top: 20px;
  }
}

//  For the slider
.sl-title, .tags-title{ // For both slider and tags title
  font-family: $mont-m;
  font-size: 18px;
  color: $sc;
  margin-bottom: 15px;
}

.sl-title{
  @extend %j-s-b;
}

.att-inp{
  font-weight: bold;
  width: 85px;
}

.btn-reset{
  float: right;
  position: relative;
  border: none;
  background: none;
  right: -40px;
  top: -20px;
}