body{
  background: #f5f7fa;
}

// input:focus{
//   outline: none;
// }

.btn-accent{
  padding: .5rem 1rem;
  color: $w;
  background-color: $acc;
  border-color: $acc;
  &:hover{
    color: $w;
    background-color: $acc-dark;
    border-color: $acc-dark;
  }
}

.btn-accent-outline{
  height: 50px;
  padding: .5rem 1rem;
  color: $acc;
  background-color: $w;
  border-color: $acc;
  &:hover{
    color: $w;
    background-color: $acc-dark;
    border-color: $acc-dark;
  }
}

.custom-control-label{
  margin-left: .5rem;
  &:before, &:after{
    top: .05rem;
    width: 1.25rem;
    height: 1.25rem;
    left: -2rem;
  }
}

.custom-control-input:checked~.custom-control-label::before{
  color: $w;
  border-color: $tagbg;
  background-color: $tagbg;
}

// .apiSwitch{  
//   position: absolute;
//   right: 0;
//   top: 0;
//   background: $w;
//   font-family: $mont-sb;
//   box-shadow: 0 0 5px 1px rgba($b, .2);
// }