$w: #fff;
$b: #000;
$pr: #2c405a;
$sc: #3f536e;
$line: #d8e5ee;
$tagbg: #5bb884;
$tagbgsc: #ab7df6;
$acc: #54b6b8;
$acc-dark: #418688;
$plinpbg: #f6f6f6;

// Justify content: space between
%j-s-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Justify content: center
%j-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Justify content: flex-end
%j-f-e {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

// Prefix & Keyframes mixins
@mixin prefixed($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}