$w: #fff;
$b: #000;
$body-bg: #f5f7fa;
$err-bg: #ff4c43;
$bg-pr: #1785fb;
$bg-sc: #f9f9fb;
$bdr-sc: #d0dce5;

$acc: #56d86c;
$pr: #2c405a;
$sc: #3f536e;
$line: #d8e5ee;
$n-title: #292f36;
$sub-title: #8dabc4;
$link: #145bbc;
// $tagbg: #5bb884;
// $tagbgsc: #ab7df6;
// $acc: #54b6b8;
// $acc-dark: #418688;
$acc-dark: #c5d9e8;
$plinpbg: #f6f6f6;
$c-bdr: #a8c6df;
$c-idx: #40a1a4;
$dz-bdr: #dde4ff;
$sl-bg: #e9e9e9;
$bg-pr-main: #1f46e9;
$bg-ctn-main: #010101;
$ctn-auto-bdr: #979797;

// Justify content: space between
%j-s-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Justify content: center
%j-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Justify content: flex-end
%j-f-e {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

// Prefix & Keyframes mixins
@mixin prefixed($property, $value) {
  -webkit-#{$property}: #{$value}; /* Safari */
  -khtml-#{$property}: #{$value}; /* Konqueror HTML */  
  -moz-#{$property}: #{$value}; /* Firefox */
  -ms-#{$property}: #{$value}; /* Internet Explorer/Edge */
  -o-#{$property}: #{$value}; /* Opera */
  #{$property}: #{$value}; /* Non-prefixed version */
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}